* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  line-height: 18vh;
  width: 100%;
  background: #20bf6b;
}
h1 {
  text-align: center;
  color: white;
  font-size: 1.8rem;
  letter-spacing: 15px;
  font-family: 'Carter One', cursive;
  text-transform: uppercase;
  text-shadow: 0 1px 0#efefef, 0 2px 0 #efefef, 0 3px 0 #efefef, 0 4px 0 #efefef,
    0 30px 5px rgba(0, 0, 0, 01);
}
section{
    height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7bed7f;
}
.game-area{
    width: 50%;
    height: 400px;
    padding: 20px 0;
    background-color: #2ed573;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 8px 6px -6px black;
    font-family: 'Source Sans Pro', sans-serif;
}
h3{
    text-align: center;
    font-size: 1.5rem;
}
input{
    width: 40%;
    padding: 15px 0;
    text-align: center;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: #dff9fb;
    color: black;
    margin: 2rem;
    font-size: 1.1rem;
}
button{
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border: #2f3542;
    text-decoration: none;
    margin-top: 2px;
    color: rgb(89, 196, 89);
    font-weight: bold;
    border-radius: 6px;
}
button.btn{
    font-weight: 600px;
    padding: 1rem 2rem;
    background:rgb(255, 255, 255);
    text-transform: uppercase;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.65,-0.25,0.25,1.95);
}
button.btn:hover, button.btn:focus, button.btn:active{
    letter-spacing: 0.325rem;
    word-wrap: 0.2rem;
}
.hidden{
    display: none;
}